<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome page</title>
</head>
<body>
    <h1>Hello user</h1>
    <h2>Log in</h2>
    <form action="/login" method="POST">
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
    <h2>Registration</h2>
    <form action="/registr" method="POST">
        <input type="text" id="name" placeholder="name" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="pass" placeholder="Password" required>
        <input type="password" placeholder="Repeat your password" required>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>
</html>
